@charset "UTF-8";

/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: #202932;
}

header .logo img {
    padding-left: 8px;
    width: 50px;
}

header .links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding-right: 8px;
}

header .links a {
    color: white;
    /*background-color: #E10600;*/
    border-radius: 5px;
    padding: 5px 8px;
    font-weight: 600;
}

header .links a:hover {
    color: #415f7c;
}

/* MAIN */

main {
    
}

/* SIDEBAR */

main .sidebar {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    background-color: #121e2b;
    color: white;
}

.menu {
    display: flex;
    flex-direction: row;
}

.principal h1 {
    text-align: center;
    color: #FFF;
    padding: 15px 0;
}

.menu button {
    width: 100%;
    background-color: #415f7c;
    color: #1d1c1cde;
    border: none;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 500;
    font-size: 1.2rem;
}

.menu button:hover {
    color: #d1cdcd8c;
    background-color: #21303f;
}

main .principal {
    background-color: #52616e;
}

main .principal h2 {
    color: #FFF;
    text-align: center;
    padding: 10px 0;
}

/* TABLE*/

main .principal .table-container {
    padding: 0 12px;
}

table {
    width: 100%;;
    border-collapse: collapse;
    color: #fff;
    overflow: scroll;
}

thead {
    background-color: #202932;
}
thead tr {
    text-transform: uppercase;
}

th, td {
    border: 1px solid #202932;
    padding: 8px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #2C3845;
}

tr:nth-child(odd) {
    background-color: #4a5b6eaf;
}

/* MODAL */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    width: 400px;
    background-color: #232c36;
    border-radius: 5px;
  }

  .modal-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #3f4c5a;
    color: #acaeaf;
    padding: 8px 20px;
  }

  .modal-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    padding: 0 20px;
  }

  .modal-content div {
    display: flex;
    gap: 8px;
    width: 100%;
    align-items: center;
  }

  .modal-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    padding: 0 20px;
  }

  .modal-form div {
    display: flex;
    gap: 8px;
    width: 100%;
    align-items: center;
  }

  .modal-form label {
    text-align: right;
    color: #acaeaf;
    font-size: 1rem;
    font-weight: 600;
  }

  .modal-form input {
    width: 100%;
  }

  .modal-form input, .modal-form select {
    background-color: #14191f;
    border: none;
    border-radius: 4px;
    color: #aaa;
    padding: 5px;
  }

  .modal-form input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
  }

  .modal-form select {
    padding: 2px 8px;
  }

  .modal-button-container {
    justify-content: center;
    padding: 20px;
  }

  .modal-button-container button {
    padding: 5px 17px;
    width: 100px;
    margin: 0;
    font-size: 1rem;

    border-radius: 5px;
    color: #fff;
    background-color: #4B908F;
    border: none;
    cursor: pointer;
    box-shadow: 0px 8px 12px rgba(48, 94, 94, 0.4);
  }

  .modal-button-container button:hover {
    background-color: #2b5858;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* FOOTER */

  footer {
    background-color: #52616E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
  }

  footer span {
    color: #ffffff96;
    font-size: 1.3rem;
    font-weight: 600;
  }
